.content{
    max-width: fit-content;
    margin: auto;
}
.button1{
    border-radius: 8px;
    background-color: green;
    font-size: medium;
}
.button2{
    border-radius: 8px;
    background-color: red;
    font-size: medium;

}
#counter{
    width: 25px;
    height: 25px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border: 5px solid black;
}